# Xcode
xcuserdata/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# macOS
.DS_Store
